#page_accueil {
    background-image: url('../images/bike-page-accueil.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}



#page_accueil h1 {
  font-size: 45px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(256,256,256,0.3);
  padding: 5px;
  margin: 10px;

}

input {
  margin: 5px;
}


#formulaire_accueil {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;

}

#validation_accueil {
  width: 100%;
  margin: 5px;
  min-width: 300px;

}




body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1c92d2, #f2fcfe);
  background: linear-gradient(to bottom, #1c92d2, #f2fcfe);
  height: 100vh;
}



h1 {
  font-size: 28px;
}



/* === Contenu du shop  ================================================ */


#card-header {
  background-color: #343A40;
  padding: 10px;
  color: #FFFFFF;
}

#shop-header {
  background-color: #343A40;
  color: #FFFFFF;
}

#logo-header {
  width: 50px;
}

#shop-background {
  height: 150px;
  background-image: url('../images/bike-background.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}


.card {

margin-top: 10px;
border: none;
padding: 5px;
background:none;

}

.card-img-top {
  border-radius: 15px;
  border: solid 1px rgba(229, 80, 57,1.0);
  margin-bottom: 10px;

}

.card-body:hover {
  background-color: #ffeaa7;
  border-radius: 15px;
  font-weight: bold;
  transition-duration: 500ms;
}

.contour-card {
  border: solid 1px rgba(229, 80, 57,1.0);
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(250, 211, 144,1.0);

}

.bas-card {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}


.card-text {
  font-size: 20px;
  margin-bottom: 0;
}


/* === Contenu du panier ================================================ */


#top-panier {
  border-radius: 10px;
  margin-top: 15px;
  font-size: 20px;
  border: solid 1px rgba(229, 80, 57,1.0);
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(250, 211, 144,1.0);
}

.image-panier {
  width: 300px;
}

.bouton-panier {
display: flex;
justify-content: center;
text-align: center;
align-items: center;
}

.fas {
  padding: 3px;
  font-size: 20px;
  border-radius: 3px;
}

.refresh {
  color: green;
}


.trash {
  color: grey;
}

.colonne-model {

  width: 30%;
}


th, td {
    border-bottom: none;
    border-top: none;
}

.table {
  border: none;
}

#tableau_basket {
  border: none;
}

tr {
  width:100%;
   margin:0 auto;
   background-color: white;
   border: none;

}

#colonne-picture, #premiere_ligne {
    border-top-left-radius: 10px;
}


#derniere-ligne {
  border-bottom: solid 1px darkgrey;
  color: black;
  font-weight: bold;
}

#colonne-picture {
    width: 20%;
}

  #colonne-quantity {
    width: 15%;
}

#checkout{
  display: flex;
  justify-content: flex-end;
}

nav {
  margin-top: 15px;
}

td, th {
  align-items: center;
  border: none;
}


#velo-slide:hover {
	align:left;
}
